<!-- Header -->
<header class="bg-primary text-white">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
      <h1 class="text-2xl font-bold">Shoes Store</h1>
      <nav class="space-x-4">
        <a routerLink="/" class="hover:underline">Inicio</a>
        <a routerLink="/products" class="hover:underline">Productos</a>
        <a routerLink="/ofertas" class="hover:underline">Ofertas</a>
        <a routerLink="/contacto" class="hover:underline">Contacto</a>
      </nav>
    </div>
  </header>