<div class="font-sans bg-gray-50 text-gray-800">
  <!-- Hero Section -->
  <section class="bg-primary text-white text-center py-20 px-6">
    <h2 class="text-4xl font-bold mb-4">¡Encuentra tus zapatos ideales!</h2>
    <p class="text-lg mb-6">Descubre las mejores marcas, los mejores estilos y todo al mejor precio.</p>
    <a href="#products" class="bg-white text-primary py-2 px-6 rounded-full font-semibold hover:bg-gray-100">
      Ver Productos
    </a>
  </section>

  <!-- Productos Destacados -->
  <section id="products" class="container mx-auto px-4 max-w-6xl py-6">
    <h2 class="text-3xl font-bold text-center mb-12 text-primary">Productos Destacados</h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-8">
      <!-- Products -->
      <app-product-card *ngFor="let product of listOfFeaturedProducts" [product]="product" [highlight]="true"></app-product-card>
    </div>
  </section>

  <div class="flex flex-col items-center">
    <button routerLink="/products" class="bg-primary text-white py-2 px-4 rounded hover:bg-blue-800 w-30 mx-auto mb-4">
      Ver más productos
    </button>
  </div>

</div>