<!-- home.component.html -->
<div class="font-sans bg-gray-50 text-gray-800">

  <!-- Hero Section -->
  <section class="bg-primary text-white text-center py-20 px-6">
    <h2 class="text-4xl font-bold mb-4">¡Encuentra tus zapatos ideales!</h2>
    <p class="text-lg mb-6">Descubre las mejores marcas, los mejores estilos y todo al mejor precio.</p>
    <a href="#productos" class="bg-white text-primary py-2 px-6 rounded-full font-semibold hover:bg-gray-100">
      Ver Productos
    </a>
  </section>

  <!-- Productos Destacados -->
  <section id="productos" class="container mx-auto px-4 max-w-6xl py-6">
    <h2 class="text-3xl font-bold text-center mb-12 text-primary">Productos Destacados</h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-8">
      <!-- Products -->
      <div *ngFor="let product of listOfFeaturedProducts"
        class="bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 hover:shadow-xl">

        <!-- Imagen con efecto -->
        <div class="relative">
          <img [src]="product.image" [alt]="product.name" class="w-full h-60 object-cover">

          <!-- Etiqueta de descuento (si aplica) -->
          <span *ngIf="product.discount > 0"
            class="absolute top-2 left-2 bg-red-500 text-white text-xs font-bold py-1 px-2 rounded">
            -{{ product.discount }}%
          </span>
        </div>

        <!-- Contenido del producto -->
        <div class="p-6 text-center">
          <h3 class="text-xl font-bold text-gray-900 mb-2">{{ product.name }}</h3>
          <p class="text-gray-500 mb-4">{{ product.description }}</p>

          <!-- Precio con formato -->
          <div class="flex items-center justify-center gap-2 mb-4">
            <p *ngIf="product.discount > 0" class="text-red-500 text-lg font-semibold line-through">
              {{ calculateOriginalPrice(product.price, product.discount) }}
            </p>
            <p class="text-gray-800 text-2xl font-bold">{{ product.price }}</p>
          </div>

          <!-- Botón de compra -->
          <button (click)="goToCheckout(product)"
            class="bg-[#2A9D8F] text-white py-2 px-6 rounded-lg font-semibold shadow-md hover:bg-[#21867A] transition">
            Comprar Ahora
          </button>
        </div>
      </div>

    </div>
  </section>

  <div class="flex flex-col items-center">
    <button routerLink="/products" class="bg-primary text-white py-2 px-4 rounded hover:bg-blue-800 w-30 mx-auto mb-4">
      Ver más productos
    </button>
  </div>

</div>